<header class="site-header">
    <h1>Landmark Remark!</h1>

    <div class="site-header-right">
        <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form mt-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <!--#TODO complete search functionality-->
            </div>
        </form>
        <div class="md-form mt-0">
            <button type="submit">Login</button>
        </div>
    </div>
</header>
<body>
    <agm></agm>
    <firebaseService></firebaseService>
</body>
<footer>
    <p>Landmark Remark Single-Page Application to showcase technical skills for TigerSpike</p>
    <p>See souce code here <a href="https://github.com/dgilb19/LandmarkRemark">Github Landmark Remark</a></p>
</footer>
