.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

agm-map {
    align-items: center;
    height: 800px;
    /*auto hight/flex does not work for AGM Maps*/
}

.btn-save-pin {
    position: absolute;
    bottom: 13%;
    right: 2%;
}

input {
    float: right;
}


* {
    font-family: Lato;
}

a {
  color: darkblue;
}
